/*general edit*/
/* .margin-10px{
    margin-bottom: 10px;
} */
.no-margin{
    margin: 0px;
}
.post-container .comment-section .ash-font{
    color: rgb(189,156,142);
    margin: 10px 0px 5px 0px;
}
.margin-top{
    margin-top: 18px;
}
.no-bullet{
    list-style-type: none
}
.bold-text{
    font-weight: bold;
}
.font-17{
    font-size: 17px;
    margin: auto 0;
}
.icon-sizing{
    width: 28px;
    height: 22px;
    margin-right: 10px;
}
.profile-icon{
    width: 30px;
    height: 29px;
    margin-right: 10px;
}
/* .suggested-users .lovato{
    width: 65px;
    height: 45px;
    border-radius: 50%;
} */
body{
    background-color:#ffffff;
}

/* navigation-setion */
.navigation-tab{
    padding: 35px 0px 35px 20px;
}
.logo img{
    width: 105px;
    height: 40px;
    margin-bottom: 20px;
}
.navigation-tab{
    border-right: 1px solid rgb(196, 193, 193);
    background-color: white;
    flex-basis: 50%;
    height: 100vh;
    width: 215px;
    position: fixed;
    top: 0%;
    left: 0%;
}
.navigation-tab nav .home-link{
    display: flex;
    height: 30px;
    padding: 12px;
    margin-left: -8px;
}

/*feeds*/
.main-wrapper{
    /* display: flex;
    flex-direction: row; */
}
.main-wrapper .main-body{
    width: 900px;
    position: relative;
    left: 6%;
    margin: 0px auto;
}
.main-body .feeds{
    /* width: 1100px; */
    margin-left: 57px;
    display: flex;
}


/*post contents*/
.main-body .feeds .contents{
    flex-basis: 100%;
}
.posts-section{
    width: 430px;
    margin: 0px auto;
}
.posts-section .post-container{
    background-color: white;
    margin-top: 20px;
    height: 800px;
    width: 460px;
    /* position: fixed;
    left: 8%; */
    border-radius: 10px;
}
.post-title-tile{
    background-color: white;
    display: flex;
    height: 50px;
    align-items: center;
}.post-title-tile .option-button{
    margin-left: 230px;
}
.post-title-tile .dot{
    margin-bottom: 20px;
    margin-right: 4px;
    font-size: 30px;
}
.post-title-tile .timestamp{
    font-size: 15px;
    color: rgb(152,152,152);
    font-weight: bold;
}
.post-title-tile .title-image img{
    width: 25px;
    height: 25px;
    padding: 2px;
    /* border-radius: 50%;
    border: 3px solid;
    border-image: linear-gradient(230deg, rgb(211,0,197), red, yellow) 1; */
    background: linear-gradient(#fff, #fff) padding-box,      /*makes sure this background extends to the border line*/
              linear-gradient(230deg, rgb(211,0,197), red, yellow) border-box;   /*makes sure the background extends to the outside part of the border*/
    border: 3px solid transparent;
    border-radius: 50%;
}
.posts-section .post-container .post-title-tile a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 0px 7px;
}
.post-title-tile img{
    width: 15px;
    height: 15px;
}
.posts-section .post-container .post-image img{
    width: 460px;
}
.icon-section{
    display: flex;
}
.icon-section img{
    width: 20px;
    height: 20px;
}
.icon-2{
    margin: 0px 15px;
}
.icon-4{
 margin-left: 350px;   
}
.comments{
    display: flex;
    justify-content: space-between;
}
.comment-section{
    font-size: 15px;
}
.comment-section p{
    margin: 5px 0px;
}
.comment-box{
    border: none;
    margin-left: -3px;
    margin-top: 5px;
}
.smile{
    width: 15px;
    height: 15px;
    margin-top: 5px;
}
.add-comment{
    display: flex;
    justify-content: space-between;
}


/*suggestion section*/
.main-body .feeds .suggestions{
    flex-basis: 100%;
}
.main-body .feeds .suggestions .suggestions-section{
    width: 270px;
    margin: 50px 0px 0px 100px;
    font-size: 13px;
}
.suggestions-section .suggested-users{
    display: flex;
    justify-content: space-between;
}.suggested-users img{
    width: 34px;
    height: 35px;
    border-radius: 50%;
}
.suggestions-section .suggested-users div{
    margin: 0px 30px 0px -30px;
    height: 10px;
}
.suggestions-section .suggested-users .personal-username{
    margin-left: -20px;
    margin-top: 20px;
}
.suggestions-section .suggested-users .personal-profile{
    width: 70px;
    height: 70px;
    margin-left: -10px;
}
.suggestions-section .suggested-users .suggestion-1{
    margin-left: -45px;
}
.suggestions-section .suggested-users .suggestion-4{
    margin-left: -60px;
}
.suggestions-section .suggested-users .suggestion-5{
    margin-left: -70px;
}
.suggestions-section .suggested-users p{
    color: rgb(2,150,246);
}
.suggestions-section .suggested-users .black-font{
    color: black;
}
.suggestions-section .suggested-users .center-item{
    margin: auto 0px;
    color: black;
    text-decoration: none;
}
.suggested-users div a sup img{
    width: 15px;
    height: 15px;
}
.suggestions-section ul{
    display: flex;
    font-size: 14px;
    padding: 0px;
}
.suggestions-section ul li{
    margin-right: 30px;
    color: rgb(173,173,173);
}
.suggestions-section ul li span{
    position: relative;
    margin: -10px;
}
.suggestions-section .suggested-users div p{
    font-size: 13.5px;
    color: rgb(191,191,191);
    margin-top: 3px;
}
.suggestions-section .suggested-users div a{
    text-decoration: none;
    color: black;
    font-size: 13.5px;
    font-weight: 600;
}




/* stories-section */
.contents .stories{
    /* border: 1px solid rgb(196, 193, 193);
    background-color: white; */
    padding: 18px 0px 0px 0px;
    margin-top: 20px;
    height: 100px;
    width: 437px;
    display: flex;
    position: relative;
    left: 1%;
    border-radius: 10px;
}
.contents .stories div{
    margin-right: 15px;
}
.contents .stories div p{
    font-size: 13px;
    text-align: center;
}
.contents .stories div img{
    width: 55px;
    height: 55px;
    padding: 2px;
    /* border-radius: 50%;
    border: 3px solid;
    border-image: linear-gradient(230deg, rgb(211,0,197), red, yellow) 1; */
    background: linear-gradient(#fff, #fff) padding-box,      /*makes sure this background extends to the border line*/
              linear-gradient(230deg, rgb(211,0,197), red, yellow) border-box;   /*makes sure the background extends to the outside part of the border*/
    border: 3px solid transparent;
    border-radius: 50%;
}


/*hover effects*/
.navigation-tab nav .home-link:hover{
    border-radius: 50px;
    background-color: rgb(248, 245, 245);
}